<form action="/matchup" method="post">
    <label for="home_team">
        <input type="text" name="home_team">
    </label>
    <label for="away_team">
        <input type="text" name="away_team">
    </label>
    <input type="submit" value="Submit">
</form>